*
.*
!.lintballrc.json
!bin/
!configs/
!githooks/
!lib/
!LICENSE
!package.json
!package-lock.json
!README.md
!test/
!tools/Gemfile
!tools/Gemfile.lock
!tools/package.json
!tools/package-lock.json
!tools/pip-requirements.txt
