.*
*
!.gitignore
!.lintballrc.json
!bin/
!configs/
!githooks/
!lib/
!LICENSE
!package-lock.json
!package.json
!README.md
!scripts/
!test/
!tools/.eslintrc.cjs
!tools/.prettierrc.json
!tools/Gemfile
!tools/Gemfile.lock
!tools/package-lock.json
!tools/package.json
!tools/pip-requirements.txt
